<%= render 'shared_pages/page_title', title: "showing all recipes" %>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'recipe', obj: @recipes %>
    <!-- Back to top button -->
      <a id="button"></a>

<div align="center">
  <%= will_paginate %>
</div>

<!--javascript -->
    <script>
  var btn = $('#button');
    
    $(window).scroll(function() {
      if ($(window).scrollTop() > 300) {
        btn.addClass('show');
      } else {
        btn.removeClass('show');
      }
    });
    
    btn.on('click', function(e) {
      e.preventDefault();
      $('html, body').animate({scrollTop:0}, '300');
    });
      
    </script>

