    <div class="tm-banner">
      <h2 class="tm-banner-title sign_up_banner_text">Yummy taste</h2>
          <p class="tm-banner-description">Don´t lose anything from our memebers, 
              <b style="color: darkseagreen;">become one yourself</b> and have all the comments available about recipes details, 
          secrets ingredients... Meet the Chefs with our live ChefChat </p>
        <%= link_to "Sign up for the app", signup_path, class: "about-link" %>
        <%= link_to "", signup_path, class: " tm-banner-link fa fa-sign-in" %> 
    </div>