<%= render 'shared_pages/page_title', title: "Page data in charts" %>

<div class="container">
    <h1 class="charts_title" >Chefs stars pie chart</h1>
        <%= pie_chart Chef.group(:chef_stars).count %>
</div> 

<div class="container">
    <h1 class="charts_title" >Recipes creation date time line</h1>
        <%= line_chart Recipe.group(:created_at).group(:name).count %>
</div> 

<div class="container">
    <h1 class="charts_title" >Cooking time bar representation</h1>
    <%=  column_chart Recipe.group(:chef_name).group(:cooking_time).count %>

</div>

