<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "View all Recipes", recipes_path, class: "about-link" %></p>
  <p><%= link_to "Sign up for the app", signup_path, class: "about-link" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>

    <section class="containers margin-bottom-50">

      <div class="about-container">

        <div class="about-container-left">
          <img src="img/about/2.jpg" alt="Image" class="img-responsive">
        </div>

        <div class="about-container-right">
          <h2 class="about-title">One Column</h2>
          <p class="about-description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
          <p class="about-description">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
          <a href="#" class="about-link">Duised sitDamet</a>
        </div>

      </div>

      <div class="about-container-2 margin-bottom-50">
        <div class="about-container-inner">
          <h3 class="about-title-2">Two Columns</h3>
          <img src="img/about/3.jpg" alt="Image" class="img-responsive margin-bottom-15">
          <p class="about-description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
          <a href="#" class="about-link about-link-2">Details</a>
        </div>
        <div class="about-container-inner">
          <h3 class="about-title-2">Two Columns</h3>
          <img src="img/about/4.jpg" alt="Image" class="img-responsive margin-bottom-15">
          <p class="about-description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
          <a href="#" class="about-link about-link-2">Details</a>
        </div>
      </div>

      <div class="about-container-2">
        <div class="services-container-inner">
          <h3 class="about-title-2">Three Columns</h3>
          <img src="img/services-1.jpg" alt="Image" class="img-responsive margin-bottom-15">
          <p class="about-description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
          <a href="#" class="about-link about-link-2">Details</a>
        </div>
        <div class="services-container-inner">
          <h3 class="about-title-2">Three Columns</h3>
          <img src="img/services-1.jpg" alt="Image" class="img-responsive margin-bottom-15">
          <p class="about-description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
          <a href="#" class="about-link about-link-2">Details</a>
        </div>
        <div class="services-container-inner">
          <h3 class="about-title-2">Three Columns</h3>
          <img src="img/services-1.jpg" alt="Image" class="img-responsive margin-bottom-15">
          <p class="about-description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
          <a href="#" class="about-link about-link-2">Details</a>
        </div>
      </div>


      <!--banner-->
      <div class="tm-banner">
        <h2 class="tm-banner-title">Maecenas</h2>
        <p class="tm-banner-description">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium</p>
        <a href="#" class="tm-banner-link"><i class="fa fa-play"></i></a>
      </div>

    </section> <!-- Main content -->



        
