<%= render 'shared_pages/page_title', title: "Contacts page" %>
<div class="col-lg-5 col-md-5 contact-form-left">

    <h1>Danke für deine Nachricht</h1>
    <p>Ich werde mich dir bald zurückmelden</p>
</div>