<footer class="footer">
  <small>
    <strong><a href="https://www.linkedin.com/in/tudor-pascu/">Tudor Pascu adn</a></strong>
    by <em><a href="https://www.linkedin.com/in/tudor-pascu/">Tudor Pascu</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>